extends layout 
 
block content 
  h1= title 
 
  form(id='nameForm', action="/resource/name", method="POST") 
    div.form-group 
        label.nameAttr(for='namestyle') name style
        input#name(type='text', name='namestyle') 
    div.form-group 
        label.nameAttr(for='nametype') name type
        input#type(type='text', name='nametype') 
    div.form-group 
        label.nameAttr(for='namesize') name size
        input#size(type='number', name='namesize') 
    input(class="btn btn-info",type="submit") 
 
  script. 
    document.forms['nameForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 
